<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="twitterFeed" class="com.jamieholdstock.stocktweeter.twitter.TwitterFeed">
		<constructor-arg value="${twitter.consumerKey}"/>
		<constructor-arg value="${twitter.consumerSecret}"/>
		<constructor-arg value="${twitter.accessToken}"/>
		<constructor-arg value="${twitter.accessTokenSecret}"/>
	</bean>
	
	<bean id="Scheduling" class="com.jamieholdstock.stocktweeter.Scheduling">
		<property name="twitterFeed" ref="twitterFeed"/>
	</bean>

</beans>
